<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/about.html">About Us</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
                    <li><a href="../pages/menu.html">Menu</a></li>
                    <li><a href="../pages/policy.html">Policy</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Contact Us</h4>
                <p>Email: varadinternationalhotel@gmail.com</p>
                <p>Phone: 9664982306</p>
                <p>Address: Vedika Dhaba ,Shukla Bazaar Bypass ,Ambedkar Nagar (UP) </p>
            </div>
            
            <div class="footer-socials">
                <div class="footer-timings">
                    <h4>Our Timings</h4>
                    <p>Open Every Day: 9:00 AM - 7:00 PM</p>
                </div>                
            </div>
        </div>
        <hr style="border:1px solid rgb(5, 5, 10); margin:20px 0px;">
        <div class="footer-bottom">
            <p>&copy; 2024 Vedika Restaurant. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>